body{
    background-color: #558877;
}
.box{
    height: 40px;
    width: 55px;
    background-color: red;
    background-image: url("sprite.jpg");
    background-position: -390px -170px;
}
.box:hover{
    background-position: -390px -470px;
}